
html, body, #root {
  height: 100%;
  background-color: #eee;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, div, p{
  margin: 0;
  padding: 0;
}

ul, li{
  list-style: none;
}

.clearfix {
  zoom:1
}

.clearfix:after,.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0
}
