:global {
  .ant-layout-header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
    padding: 0 15px;
  }
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.rightOpe{
  position: absolute;
  right:0;
  top: 0;
}

.account{
  float: left;
  color:#fff;
  padding: 0 15px;
  .username{
    margin-left: 10px;
  }
}
